.container{
    padding: 10px;
    margin: 10px;
    /* border: 1px solid #ced4da;
    border-radius: .50rem; */
}
.mainTitle{
    margin: 10px;
    background: #ced4da;
    border: 1px solid #ced4da;
    border-radius: .50rem;
}
.dataset{
    margin: 20px 0px 20px 0px;
}


